.clients-speak {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.our-clients-speak {
  width: 1240px;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 50px 5px;
  justify-content: center;
  /* align-items: flex-start; */
  overflow: hidden;
}

.our-clients-speak-heading {
  display: flex;
  color: var(--heading-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 160% */
  margin-bottom: 0px;
  justify-content: center;
}
.our-clients-speak-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 3720px;
  /* height: 400px; */
  /* overflow: hidden; */
  transition: all 0.4s linear;
  overflow: hidden;
}
.circles {
  /* width: 20vw; */
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: lightseagreen; */
  border: 1px solid black;
  margin: 0px 5px;
  cursor: pointer;
}
.highlight {
  background-color: black;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .our-clients-speak {
    width: 950px;

    justify-content: center;
  }
  .our-clients-speak-container {
    width: 2800px;
  }
  .our-clients-speak-heading {
    font-size: 36px;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .our-clients-speak-heading {
    font-size: 32px;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .clients-speak {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .our-clients-speak-container {
    justify-content: flex-start;
  }
  .our-clients-speak-heading {
    font-size: 28px;
  }
}
