.get-started {
  width: 1440px;
  height: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.get-started-texts {
  
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.get-started-figure {
    display: inline-flex;
    align-items: center;
    gap: 342px;
}
