* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-names {
  display: flex;
  flex-direction: row;
  height: auto;
  border: 0.5px solid #d2d2d2;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 10px 0;
  background: linear-gradient(
    90deg,
    #fff 36.37%,
    rgba(255, 255, 255, 0) 115.65%
  );
}
.soorya-hospital {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Media query for screens between 992px and 1199px (992px <= width < 1200px) */
@media (max-width: 1200px) {
  .company-names {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(
      90deg,
      #fff 36.37%,
      rgba(255, 255, 255, 0) 115.65%
    );
  }
  .company-names div {
    /* width: 100px; */
  }
  /* .soorya-hospital img{
    width: 0px;

  } */
}

/* Media query for screens between 768px and 991px (768px <= width < 992px) */
@media (max-width: 992px) {
}

/* Media query for screens between 576px and 767px (576px <= width < 768px) */
@media (max-width: 768px) {
}

/* Media query for screens less than 576px (width < 576px) */
@media (max-width: 576px) {
}
