* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-names {
  display: flex;

  flex-direction: row;
  width: 100vw;
  height: 60px;
  border: 0.5px solid #d2d2d2;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 10px 0;
  /* box-shadow: inset -10px 0px 10px rgba(0, 0, 0, 0.5); */

  /* background: linear-gradient(
    90deg,
    #fff 36.37%,
    rgba(255, 255, 255, 0) 115.65%
  ); */
}
.company-names div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.soorya-hospital {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.company-names::before,
.company-names::after {
  content: "";
  /* background: linear-gradient(
    to right,
    rgb(38, 231, 144) 0%,
    rgba(235, 30, 30, 0) 100%
  ); */
  height: 100%;
  z-index: 2;
  /* position: absolute; */
  width: 50px;
}
.company-names::before {
  left: 0;
  top: 0;
}

.company-names::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.company-names-div {
  display: flex;
  width: calc(250px * 10);
  animation: scroll 20s linear infinite; /* Adjust the duration as needed */
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media query for screens between 992px and 1199px (992px <= width < 1200px) */
@media (max-width: 1200px) {
  /* .company-names {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(
      90deg,
      #fff 36.37%,
      rgba(255, 255, 255, 0) 115.65%
    );
  } */
  .company-names div {
    /* width: 100px; */
  }
  /* .soorya-hospital img{
    width: 0px;

  } */
}

/* Media query for screens between 768px and 991px (768px <= width < 992px) */
@media (max-width: 992px) {
}

/* Media query for screens between 576px and 767px (576px <= width < 768px) */
@media (max-width: 768px) {
}

/* Media query for screens less than 576px (width < 576px) */
@media (max-width: 576px) {
  .company-names div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
  }
  .company-names div img {
    /* width: 100px; */
  }
}
