.story {
  display: flex;
  width: 579px;
  height: 184px;
  padding: 25px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  background-color: #F9F9F9;
  border-radius: 20px;
  margin: 35px 35px;

}
.first {
  height: 160px;
  width: 109px;
  margin-right: 40px
}
.second {
  width: 360px;
}
.heading {
  color: #343f52;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 24.2px */
}
.text {
  color: #60697b;

  font-feature-settings: "clig" off, "liga" off;
  font-family:sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}
