.button {
  background-color: var(--primary-color);
  font-family: sans-serif;
  /* padding: 25px; */
  border: 1px solid;
  border-color: transparent;
  border-radius: 50px;
  height: 58px;
  width: 120px;
  min-width: 161px;
  max-width: 190px;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

