* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.use-cases-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.usecases {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 30px 30px;
  width: 1600px;
  height: auto;
  display: flex;

  /* align-items: flex-start; */
  overflow: hidden;
}
.usecases-heading {
  color: #343f52;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.usecases-container {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  width: 7200px;

  transition: all 0.4s linear;
  overflow: hidden;
}
.usecase-btn {
  width: 44px;
  height: 44px;
  outline: none;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 6px 16px 0px rgba(205, 205, 205, 0.2);
  border: 0.5px solid rgba(128, 128, 128, 0.132);
}

.usecase-btn.btn-highlight {
  background-color: #ffb744;
}
