* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  background: #343f52;
  color: white;
  padding: 55px 110px 50px 50px;
}
.footer-text {
  display: flex;
  width: 417px;
  color: #fff;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  margin: 20px 0;
}
