.our-mission {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px 40px;
}
.our-mission-pic {
  width: 426.999px;
  height: 438.672px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-mission-texts {
  font-family: sans-serif;
  width: 616px;
}
.our-mission-heading {
  color: #343f52;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.our-mission-text {
  color: #60697b;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}
.our-mission > * {
  margin: 15px 0;
}
.our-mission-texts > * {
  margin: 30px 0;
}
/* Media Query for 1200px and above */
@media (max-width: 1200px) {
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .our-mission-texts {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .our-mission {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 60px 40px;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .our-mission-texts {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;

  }
  .our-mission {
    margin: 30px 40px;
  }
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .our-mission-texts {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
  }
  .our-mission {
    margin: 30px 40px;
  }
  .our-mission-heading{
    font-size: 28px;
    font-weight: 700;
    line-height: 50px; 
  }
}
