@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap");

.values {
  height: auto;
  overflow-x: hidden;
}
.values-texts {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}
.values-title {
  color: var(--primary-color);
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  display: flex;
  font-style: normal;
  font-weight: 700;
  width: 204px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  background: #fff3df;
}
.values-text {
  color: var(--heading-color);
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  padding-top: 15px;
  line-height: 55px; 
}
.values-boxes {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Media Query for 1200px and above */
@media (max-width: 1200px) {
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .values-title {
    font-size: 24px;
  }
  .values-text {
    font-size: 24px;
    line-height: 35px; 
  }
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .values-title {
  font-size: 24px;
  width: 174px;
  padding: 3px 0;

}
}
