* {
  margin: 0;
  box-sizing: border-box;
}

.why-qrhive {
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: space-around;
  align-items: center;
  padding: 80px 20px;
  /* padding: 0 100px; */
}

.why-qrhive-heading {
  color: #343f52;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px; /* 145.238% */
}
.why-qrhive-text {
  color: #60697b;
  text-align: justify;
  width: 660px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}
.why-qrhive-texts > * {
  margin: 20px 0;
}
