* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .navbar {

  display: flex;
  flex-direction: row;
  padding: 30px 50px;
  justify-content: space-between;
  font-family: sans-serif;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.19);
 
}
.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.nav-list li {
  margin: 0 19px;
}
.nav-list li a {
  text-decoration: none;
  display: flex;

  color: var(--text-color);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
}
.sub-menu{
  display: flex;
  flex-direction: column;
 
  position: fixed;
  width: 60vw;
  height: 100vh;
  background-color: white;
} */
.nav {
  /* position: ; */
  /* position: absolute; */
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  font-family: sans-serif;
  height: auto;
  background-color: white;
  color: #fafeff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10vw;

  justify-content: space-between;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.19);
  align-items: center;

  transition: all 0.1s linear;
  z-index: 100;
}

.menu-btn {
  display: none;
  cursor: pointer;
}
.sub-menu {
  display: flex;
  flex-direction: row;
  transition: all 0.2s linear;
}
.ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.ul .li {
  position: relative;
  /* margin: 0 25px; */
  margin: 0 19px;
}
.ul a {
  text-decoration: none;
  display: flex;
  color: var(--text-color);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.toggle-btn {
  transition: all 0.2s linear;
  cursor: pointer;
}
.menu {
  width: 30px;
  height: 30px;
  font-weight: 500;
  color: black;
}
.close {
  width: 30px;
  height: 30px;
  color: black;
}
.close-btn {
  display: none;
}
.ul a:hover {
  color: var(--primary-color);
}
/* Media Query for 1200px and above */

@media (max-width: 1200px) {
}
/* Media Query for 992px and above */
@media (max-width: 992px) {
  .ul .li {
    position: relative;
    /* margin: 0 25px; */
    margin: 0 14px;
  }
}

/* Media Query for 768px and above */

@media screen and (max-width: 760px) {
  .nav {
    width: 100vw;
    /* padding: 0 40px 0 20px; */
    display: flex;
    justify-content: space-between;
  }

  .menu-btn {
    display: flex;
    color: gray;

    /* color: red; */
    /* z-index: 102; */
    /* margin: 0 100px; */
  }
  .sub-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: var(--secondary-color);
    color: black;
    transform: translateX(50vw);
  }

  .sub-menu.show {
    transform: translateX(0);
  }

  .close-btn {
    display: flex;
    position: fixed;
    right: 10%;
    top: 5%;
    font-size: 30px;
    cursor: pointer;
  }

  .ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 100px 0;
    padding: 0 0 0 50px;
    font-size: 25px;
  }
  .ul .li {
    display: inline-block;

    margin: 20px 0;
  }
  .ul .li a {
    margin: 20px 0;
    font-size: 16px;
  }
}
/* Media Query for 1200px and above */

@media (max-width: 1200px) {
  .single-faq {
    width: 796px;
  }
  .question-title {
    font-size: 20px;
  }
  .question-ans-text {
    width: 700px;
    font-size: 15px;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .single-faq {
    width: 696px;
  }
  .question-title {
    font-size: 20px;
  }
  .question-ans-text {
    width: 600px;
    font-size: 15px;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .single-faq {
    width: 556px;
    padding: 20px;
  }

  .question-title {
    font-size: 15px;
  }
  .question-ans-text {
    width: 500px;
    font-size: 15px;
  }
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .ul {
    padding: 0 0 0 30px;
  }
}
