* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.usecase {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 330px;
  padding: 5px 30px;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 16px 0px rgba(205, 205, 205, 0.2);
  margin-right: 50px;
  overflow: hidden;
  cursor: pointer;
}
.usecase-texts {
  margin-top: 32%;
}
.usecase-heading {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  padding-bottom: 10px;
}
.usecase-para {
  color: var(--text-color);
  text-align: justify;
  width: 268px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.usecase-pic {
  position: relative;
}
.usecase-pic-text {
  display: flex;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 28px;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
}
.usecase-pic-text-right {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 100px;
  height: 28px;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
}

@media (max-width: 1200px) {
}
/* Media query for screens between 768px and 991px (768px <= width < 992px) */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
/* Media query for screens less than 576px (width < 576px) */
@media (max-width: 576px) {
  .usecase {
    width: 255px;
    height: 350px;
      flex-direction: column;
      font-family: sans-serif;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      justify-content: center;
      align-items: center;
  gap: 5px;

  }
  .usecase-heading {
    font-size: 14px;
    /* display: none; */
  }
  .usecase-texts {
    margin-top: 0%;
  }
  .usecase-para {
    /* font-size: 12px;
    width: 70px; */
    display: none;

  }
  .usecase svg {
    width: 220px;
    height: 275px;
  }
}
