* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}
.contact {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
}

.contact-pic-container {
  width: 40%;
}

.contact-pic {
  width: 100%;
  height: 105vh;
  object-fit: fill;
  object-position: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 3vh 5vw;
  margin: 5vh 0 0 0;
  width: 60%;
  height: auto;
}
.contact-form-texts {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-bottom: 20px;
  gap: 30px;
}
.contact-form-heading {
  display: flex;
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
.contact-form-para {
  display: flex;

  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
}
.contact-form-inputs {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 50px;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.input-container-full {
  display: flex;
  flex-direction: column;
  width: 43vw;
  margin: 10px 0;
}
.input-container input {
  overflow: hidden;
  color: var(--heading-color);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  outline: none;
  margin-top: 7px;
}
.input-container label {
  width: 100%;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 12px;
}

.input-container-full input {
  width: 100%;
}

.check-box-inputs {
  width: 100%;
  padding: 10px 0;
}
.check-box-inputs > * {
  padding: 5px 0;
}
.check-box-label {
  color: var(--text-color);
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.check-box-label input {
  display: flex;
  align-items: flex-start;
  width: 20px;
  height: 20px;
  font-size: 14px;
  padding: 15px;
  margin: 5px 15px 0 0;
}

.check-box-notice {
  color: var(--text-color);
  font-size: 16px;
  width: 50vw;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 208.333% */
  margin-top: 20px;
}
.check-box-notice a {
  color: rgb(8, 71, 229);
}
.check-box-btn-container {
  display: flex;
  margin-top: 30px;
  /* justify-content: center;
  align-items: flex-start; */
}
.contact-back-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.sub-btn {
  display: flex;
}

.input-container.clicked {
  border-bottom: 1px solid var(--primary-color);
}
.input-label.clicked {
  color: var(--primary-color);
}

/* Media Query for 1200px and above */
@media (max-width: 1200px) {
  .contact-pic-container {
    width: 40%;
  }
  .contact-form-heading {
    font-size: 35px;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 18vw;
    gap: 10px;
  }
  .input-container-full {
    width: 39vw;
  }
  .contact-form {
    padding: 0 0vw 0 4vw;
    width: 60%;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .contact {
    padding: 3vh 0;
  }
  .contact-form-heading {
    font-size: 30px;
  }
  .contact-pic-container {
    width: 0%;
  }
  .contact-form {
    padding: 3vh 5vw;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-form-heading {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .contact-form-para {
    text-align: center;
  }
  .contact-form-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
  }
  .check-box-inputs {
    width: 90vw;
    padding: 10px 0;
  }
  .contact-back-btn {
    position: absolute;
    top: 2%;
    left: 12%;
    transform: translate(-50%, -50%);
    z-index: 10px;
    font-size: 24px;
    color: black;

    border-radius: 20px;
    z-index: 10;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
  }

  .contact-form-para {
    line-height: 26px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 10px 0;
  }

  .input-container-full {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 10px 0;
  }
  .check-box-notice {
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;
    width: 90vw;
  }
  .contact-back-btn {
    position: absolute;
    top: 10px;
    left: 10%;
    background-color: var(--primary-color);
    border-radius: 20px;
    gap: 5px;
    padding: 10px 25px;
  }
  .contact-form .check-box-btn-container{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .contact-pic-container {
    width: 0px;
  }
  .contact-form {
    margin: 2vh 1vw;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    align-items: start;
  }

  .contact-form-texts {
    width: 100%;
    gap: 30px;
  }
  .contact-form-heading {
    text-align: center;
  }
  .contact-form-para {
    text-align: center;
  }
  .contact-back-btn {
    position: absolute;
    padding: 10px 20px;
    top: 10px;
    left: 13%;
    /* background-color: var(--primary-color); */
    border-radius: 20px;
    gap: 5px;
  }
}
