.button-with-out-icon {
    width: 125px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #ffb744;
    color: #343f52;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  