* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.get-started {
  /* width: 100vw; */
  /* height: 420px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vw;
  background-color: #fff8ec;
}
.get-started-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
}
.get-started-heading {
  color: #343f52;
  font-family: sans-serif;
  width: 565px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 128.571% */
}
.get-started-para {
  color: #60697b;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 427px;
}
.get-started-svg {
  width: 370px;
  height: 375px;
}

/* Media Query for 1200px and above */
@media (max-width: 1200px) {
  .get-started-heading {
    font-size: 36px;
  }
  .get-started-svg {
    width: 333px;
    height: 334px;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .get-started-heading {
    font-size: 32px;
    width: 485px;
  }

  .get-started-para {
    font-size: 16px;
    width: 327px;
  }
  .get-started-svg {
    width: 296px;
    height: 297px;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .get-started {
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
  }
  .get-started-texts {
    align-items: center;
    text-align: center;
  }
  .get-started-heading {
    width: 465px;

    font-size: 28px;
  }

  .get-started-svg {
    width: 259px;
    height: 260px;
  }
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .get-started-heading {
    width: 405px;

    font-size: 28px;
  }

  .get-started-para {
    font-size: 14px;
  }
  .get-started-svg {
    width: 222px;
    height: 223px;
  }
}
