* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.get-started {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vw;
  background-color: var(--secondary-color);
}
.get-started-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
}
.get-started-heading {
  color: var(--heading-color);
  font-family: sans-serif;
  width: 565px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.get-started-para {
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  width: 427px;
}
.get-started-svg {
  width: 370px;
  height: 375px;
}

/* Media Query for 1200px and above */
@media (max-width: 1200px) {
  .get-started-heading {
    font-size: 36px;
  }
  .get-started-svg {
    width: 333px;
    height: 334px;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .get-started{
    padding: 20px 5vw;

  }
  .get-started-heading {
    font-size: 32px;
    width: 415px;
  }

  .get-started-para {
    font-size: 16px;
    width: 327px;
  }
  .get-started-svg {
    width: 270px;
    height: 272px;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .get-started {
    flex-direction: column;
    gap: 40px;
  }
  .get-started-texts {
    align-items: center;
    text-align: center;
  }
  .get-started-heading {
    width: 465px;
    font-size: 28px;
  }

  .get-started-svg {
    width: 259px;
    height: 260px;
  }
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .get-started-heading {
    width: 80%;
    font-size: 28px;
  }

  .get-started-para {
    font-size: 14px;
  }
  .get-started-svg {
    width: 222px;
    height: 223px;
  }
}
