.clients-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  width: 620px;
  height: 500px;
  margin: 0;
  padding: 12px;
  margin: 12px;
  overflow: hidden;
}
.clients-feedback-texts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(172, 170, 170, 0.3);
  padding: 30px 10px;
  gap: 40px;
  margin: 30px 0;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.clients-feedback-heading {
  display: flex;
  color: var(--heading-color);
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.clients-feedback-para {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.client-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 540px;
  height: 84px;
  align-content: center;
  gap: 20px;
  padding-top: 15px;
}
.client-info-name {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 5px;
}
.client-info-domain {
  color: #273245;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.quote-icon {
  color: var(--secondary-color);

  width: 50px;
  height: 50px;
}
/* .clients-feedback-texts::before {
  content: "";
  position: absolute;
  z-index: 1;
 
  left: 50%;
  bottom: -22%;
  transform: translate(-50%, 22%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 30px 50px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
 
} */
@media (max-width: 1200px) {
  .clients-feedback {
    width: 500px;
    height: 500px;
  }
  .clients-feedback-texts {
    width: 400px;
    height: 290px;
  }
  .clients-feedback-heading {
    font-size: 22px;
  }
  .clients-feedback-para {
    font-size: 16px;
  }
  .client-info-name {
    font-size: 14px;
  }
  .client-info-domain {
    font-size: 12px;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .clients-feedback {
    width: 360px;
    height: 400px;
    padding: 2px;
    margin-right: 10px;
    justify-content: flex-start;
  }
  .clients-feedback-texts {
    width: 350px;
    height: 250px;
    margin: 10px 0;
  }
  .clients-feedback-heading {
    font-size: 18px;
  }
  .clients-feedback-para {
    font-size: 14px;
  }

  .client-info-name {
    font-size: 13px;
  }
  .client-info-domain {
    font-size: 11px;
  }
  .client-info-pic {
    width: 50px;
    height: 50px;
  }
}
