* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.what-we-do {
  /* width: 100vw; */
  width: 100vw;
  /* height: 375.001px; */
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 90px 40px; */
  padding: 2vh 5vw;
}

.what-we-do-svg {
  width: 515px;
  height: 375px;
}

.what-we-do-texts {
  /* width: 616px; */
  width: 40vw;
}
.what-we-do-heading {
  color: #343f52;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.what-we-do-para {
  /* width: 616px;
  height: 237px; */
  color: #60697b;
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 188.889% */
}
.what-we-do-texts > * {
  margin: 20px 0;
}

/* Media Query for 1200px and above */
@media (max-width: 1200px) {
  .what-we-do-svg {
    width: 465px;
  }
  .what-we-do-heading {
    font-size: 36px;
  }
}

/* Media Query for 992px and above */
@media (max-width: 992px) {
  .what-we-do {
    padding: 2vh 3vw;
  }
  .what-we-do-svg {
    width: 400px;
  }
  .what-we-do-heading {
    font-size: 32px;
  }
  .what-we-do-para {
    font-size: 16px;
  }
}

/* Media Query for 768px and above */
@media (max-width: 768px) {
  .what-we-do {
    flex-direction: column;
  }
  .what-we-do-texts {
    width: 80vw;
  }
  .what-we-do-heading {
    text-align: center;
  }
}

/* Media Query for 576px and above (mobile) */
@media (max-width: 576px) {
  .what-we-do-svg {
    width: 375px;
  }
  .what-we-do-heading {
    font-size: 28px;
  }
  .what-we-do-para {
    font-size: 14px;
  }
}
