* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customization {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  align-items: center;
  background-color: var(--secondary-color);
  font-family: sans-serif;
}

.customization-texts {
  /* width: 50%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.customization-texts > * {
  margin: 7px 0;
}

.customization-heading {
  color: var(--heading-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
}

.customization-para-text {
  display: flex;
  width: 700px;
  height: 70px;
  /* flex-direction: column; */
  /* justify-content: center; */
  flex-shrink: 0;
  color: var(--text-color);
  text-align: justify;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 200% */
}

.customization-icon-texts {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: justify;
}

.customization-icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.36px;
}

.customization-icon-text-img {
  margin: 0 10px 0 0;
}
.customization-icon-text {
  display: flex;
  flex-direction: row;
}
.customization-icon-text p {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.36px;
}

.customization-pic {
  width: 500px;
  height: 520px;
  flex-shrink: 0;
}

/* Media query for screens between 992px and 1199px (992px <= width < 1200px) */
@media (max-width: 1200px) {
  .customization {
    justify-content: center;
    padding: 0 0 0 5vw;
  }
  .customization-texts {
    gap: 25px;
  }
  .customization-heading {
    font-size: 34px; /* Reduce heading font size */
    line-height: 45px;
  }
  .customization-para-text {
    width: 500px;
    font-size: 18px; /* Reduce paragraph font size */
    line-height: 20px; /* Adjust line height for readability */
  }
  .customization-icon-text p {
    font-size: 18px;
  }
}

/* Media query for screens between 768px and 991px (768px <= width < 992px) */
@media (max-width: 992px) {
  .customization {
    flex-direction: column;
    text-align: center;
    padding: 0 2vw;
  }
  .customization-texts {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 90%;
    text-align: justify;
  }
  .customization-heading {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }

  .customization-para-text {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
  }
  .customization-icon-texts {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
 /* margin-left: 35vw; */
  }
  .customization-para-text {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
  }
}

/* Media query for screens between 576px and 767px (576px <= width < 768px) */
@media (max-width: 768px) {
  .customization {
    flex-direction: column;
    text-align: center;
    padding: 0 2vw;
  }
  .customization-texts {
    width: 90%;
    align-items: center;
  }
  .customization-heading {
    font-size: 32px;
    width: 100%;
    text-align: center;
    line-height: 51px;
  }
  .customization-texts {
    gap: 10px;
  }
  .customization-para-text {
    width: 100%;

    font-size: 18px;
    line-height: 28px;
  }
  .customization-para-text {
    margin-top: 20px;
    font-size: 16px;
  }
  .customization-icon-texts {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    /* margin-left: 60vw; */
  }
  .customization-pic {
    width: 85%;
  }
}

/* Media query for screens less than 576px (width < 576px) */
@media (max-width: 576px) {
  .customization {
    flex-direction: column;
    text-align: flex-start;

    padding: 0 2vw;
  }
  .customization-texts > * {
    margin: 15px 0;
  }
  .customization-heading {
    font-size: 28px;
    line-height: 45px;
  }
  .customization-para-text {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
  }
  .customization-para-text {
    margin-top: 20px;
    font-size: 16px;
  }
  .customization-icon-texts {
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    /* margin-left: 48vw; */
  }

  .customization-icon-text p {
    font-size: 14px;
  }
  .customization-para-text {
    width: 100%;

    font-size: 16px; /* Further reduce paragraph font size */
    line-height: 28px; /* Adjust line height for readability */
  }
}
